.Acceuil{
    width: 100%;
}
/*--------------Image Logo ---------------*/
.UsrImgContainer{
    margin: 40px auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #ccc;
    
}
.UsrImg{
    margin: 5px auto;
    border: 3px solid #fff;
    width: 110px;
    height: 110px;
    border-radius: 50%;
}


/*-------------- User Info ----------------*/
.Nom,.Age,.Formation{
    margin: 10px auto;
}
.UserInfo{
    margin: 20px;
}

.Info{
    width: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    justify-content: space-between;
}
.Email,.LinkedIn,.Adress,.Tel,.GitHub{
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30px;
    padding-left: 50px;
}
.Email{
    background-image: url("../Media/maill.png");
}
.LinkedIn{
    background-image: url("../Media/linked.png");
}
.GitHub{
    background-image: url("../Media/github.png");
}
.Adress{
    background-image: url("../Media/adresse.png");
}
.Tel{
    background-image: url("../Media/tel.png");
}
.Titre{
    font-weight: bold;
}
