.Acceuil{
    width: 100%;
    height: 100%;
}
/*--------------Image Logo ---------------*/
.UsrImgContainer{
    
    margin: 40px auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    
    
}
.UsrImg{
    
    padding: 2%;
    border: 3px solid #ccc;
    width: 97%;
    height: 97%;
    border-radius: 50%;
}


/*-------------- User Info ----------------*/
.Nom,.Age,.Formation{
    text-align: center;
    margin: 10px auto;
}
.UserInfo{
    width: 100%;
}

.Infos{
    width: 70%;
    max-width: 400px;
    min-width: 200px;
    display: flex;
    margin: 20px auto;
    justify-content: space-between;
}
.Email,.LinkedIn,.Adress,.Tel,.GitHub{
    
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30px;
    width: 30px;
    height: 30px;
}
.Email{
    background-image: url("../Media/maill.png");
}
.LinkedIn{
    background-image: url("../Media/linked.png");
}
.GitHub{
    background-image: url("../Media/github.png");
}
.Adress{
    background-image: url("../Media/adresse.png");
}
.Tel{
    background-image: url("../Media/tel.png");
}
.Titre{
    font-weight: bold;
}
.info{
    width: 80%;
    max-width:300px;
}