.App{
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.colorPrimaryDark{
    background-color: rgb(0, 0, 0);
    color: #fff;
}
.colorSecondaryDark{
    background-color: #121212;
}
.colorPrimaryLight{
    background-color: #fff;
}



.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

