.App{
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.DarkPrimary{
    background-color: rgb(0, 0, 0);
}
.DarkSecondary{
    background-color: #121212;
}

.Light{
    background-color: #fff;
}

.AppBody{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

