.CertificationInfo{
    
    width: 80%;
    max-width: 700px;
    padding: 10px;
    margin: 20px auto;
    border-radius: 10px;
    
}
.Cdark{
    box-shadow: -1px 2px 10px 3px #adadad inset;
}
.Clight{
    box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
}
.Ctitre{
    color: crimson;
}
.Ctitre,.Cecole-Annee,.Clien{
    margin: 10px;
}