.CompetenceInfo{
   
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
   
    
}
.Comdark{
    background-color: rgb(61, 61, 61);
    box-shadow: 1px 2px 3px rgb(79, 79, 79);
}
.Comlight{
    background-color: #fff;
    box-shadow: 1px 2px 3px #ccc;
}
